<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078233945206-66ierk60c7hi573g09uvhtt3tcjdf5uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078233945206-66ierk60c7hi573g09uvhtt3tcjdf5uj</string>
	<key>API_KEY</key>
	<string>AIzaSyDbR-llyV0hGSz2zUsi9EvvN5-MvxaBiAI</string>
	<key>GCM_SENDER_ID</key>
	<string>1078233945206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asmaashaladan.cornorshop</string>
	<key>PROJECT_ID</key>
	<string>corner-shop-project</string>
	<key>STORAGE_BUCKET</key>
	<string>corner-shop-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078233945206:ios:0d65cd796d65f751ed3b57</string>
</dict>
</plist>